<%= form_with model: @contact, local: true, data: { turbo: false } do |form| %>
  <% if @contact.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h4>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :phone, class: 'form-label' %>
    <%= form.text_field :phone, class: 'form-control', required: true %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.email_field :email, class: 'form-control', required: true %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
